<ng-template let-option #heroTemplate>
  <img class="ui avatar image" [src]="option.portraitUrl">
  <span>{{option.name}}</span>
</ng-template>
<div class="ui grid">
  <div class="eight wide column">
    <div class="center segment">
      <sui-select class="selection ui fluid dropdown"
                  [(ngModel)]="selectedHero"
                  [optionsLookup]="heroLookup"
                  labelField="name"
                  [isSearchable]="true"
                  [optionTemplate]="heroTemplate"
                  #heroSearchSelect>
        <sui-select-option *ngFor="let hero of heroSearchSelect.filteredOptions" [value]="hero">
        </sui-select-option>
      </sui-select>
      <p *ngIf="selectedHero">
        {{selectedHero | json}}
      </p>
    </div>
  </div>
  <div class="eight wide column">
    <div class="segment">
      <sui-select class="selection ui fluid dropdown"
                  [(ngModel)]="selectedOpponent"
                  [optionsLookup]="opponentHeroLookup"
                  labelField="name"
                  [isSearchable]="true"
                  [optionTemplate]="heroTemplate"
                  #heroOpponentSearchSelect>
        <sui-select-option *ngFor="let hero of heroOpponentSearchSelect.filteredOptions" [value]="hero">
        </sui-select-option>
      </sui-select>
      <p *ngIf="selectedOpponent">
        {{selectedOpponent | json}}
      </p>
    </div>
  </div>
</div>
<div class="grid ui centered">
  <button class="ui primary big basic button" (click)="fight($event)">
    <i class="military icon"></i>Fight
  </button>
</div>
