<div class="ui grid">
  <div class="column ten wide center ui">
    <h4>Hero Search</h4>
    <div class="ui big icon input">
      <input placeholder="Search hero..." type="text" [formControl]="searchTerms">
      <i class="search icon"></i>
    </div>
    <div class="ui divider"></div>
    <div class="ui relaxed animated divided list">
      <div class="item" *ngFor="let hero of heroes$ | async">
        <img [src]="hero.portraitUrl" alt="Hero Portrait" class="ui avatar image">
        <div class="content">
          <span>{{hero.title}}</span>
          <a routerLink="/detail/{{hero.id}}" class="header">
            {{hero?.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
