<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
  <div class="ui ui-segments">
    <div class="ui ui-segment">
      <p>Select Preferred Environments</p>
      <sui-multi-select class="selection"
                        [(ngModel)]="hero.characteristics.preferredEnvironments"
                        [options]="envs"
                         ngDefaultControl>
        <sui-select-option *ngFor="let env of envs" [value]="env"></sui-select-option>
      </sui-multi-select>
    </div>
  </div>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
