<div class="ui grid">
  <div class="column five wide"></div>
  <div class="column six wide">
    <div *ngIf="hero" class="ui segment">
      <h4 class="ui header">{{title}}</h4>

      <form [formGroup]="heroForm" novalidate (ngSubmit)="save(heroForm)" class="ui form error">
        <div class="field">
          <label>Name</label>
          <div class="ui field fluid input">
            <input placeholder="Hero name..." formControlName="name">
            <div *ngIf="!heroForm.controls['name'].valid" class="ui error message">
              name is required
            </div>
          </div>
        </div>
        <div class="field">
          <label>Title</label>
          <div class="ui fluid input">
            <input placeholder="Hero title..." formControlName="title">
            <div *ngIf="!heroForm.controls['title'].valid" class="ui error message">
              title is required
            </div>
          </div>
        </div>
        <div class="field">
          <label>Portrait</label>
          <div class="ui fluid input">
            <input placeholder="Hero portrait..." formControlName="portraitUrl">
            <div *ngIf="!heroForm.controls['portraitUrl'].valid" class="ui error message">
              portraitUrl is required
            </div>
          </div>
          <img *ngIf="heroForm.controls['portraitUrl']"
               [src]="heroForm.controls['portraitUrl'].value"
               class="ui small image"
               alt="Hero Portrait">
        </div>
        <div class="field">
          <label>Ages</label>
          <div class="ui field fluid input">
            <input placeholder="Hero ages..." type="number" formControlName="ages">
            <div *ngIf="!heroForm.controls['ages'].valid" class="ui error message">
              ages is required
            </div>
          </div>
        </div>
        <div class="field">
          <label>Height</label>
          <div class="ui field fluid input">
            <input placeholder="Hero height..." type="number" formControlName="height">
            <div *ngIf="!heroForm.controls['height'].valid" class="ui error message">
              height is required
            </div>
          </div>
        </div>
        <div class="field">
          <label>Weight</label>
          <div class="ui field fluid large input">
            <input placeholder="Hero weight..." type="number" formControlName="weight">
            <div *ngIf="!heroForm.controls['weight'].valid" class="ui error message">
              Weight is required
            </div>
          </div>
        </div>
        <app-hero-abilities [abilitiesFrom]="heroForm.controls['characteristics']"></app-hero-abilities>
        <div class="ui segment">
          <button class="button ui large grey" (click)="goBack()">Back</button>
          <button class="button ui large grey" type="submit" [disabled]="!heroForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="column wide five"></div>
</div>
