<div class="ui grid">
  <sm-segment class="column ten wide center">
    <h4>Hero Search</h4>
    <sm-input class="fluid" #searchBox icon="search" placeholder="search"
              [control]="searchTerms"></sm-input>
    <div class="ui divider"></div>
    <sm-list class="animated divided relaxed">
      <sm-item *ngFor="let hero of heroes$ | async" [image]="hero.portraitUrl" [header]="hero.title">
        <a routerLink="/detail/{{hero.id}}">{{hero?.name}}</a>
      </sm-item>
    </sm-list>
  </sm-segment>
</div>
