<div class="ui top fixed menu">
  <a class="item" routerLink="/battleground" routerLinkActive="active">Battleground</a>
  <div *ngIf="authenticated | async">
    <a class="item" routerLink="/heroes" routerLinkActive="active">Heroes</a>s
    <a class="item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </div>
  <div class="right menu">
    <a class="item" href="#">Log In</a>
  </div>
</div>
<div class="main container">
  <router-outlet></router-outlet>
  <app-messages *ngIf="!production"></app-messages>
</div>
